$font-regular: "SourceSansPro-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-light: "SourceSansPro-Light", Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-semibold: "SourceSansPro-Semibold", Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$font-bold: "SourceSansPro-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif !default;
